[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
scipy = "==1.9.0rc2"
gunicorn = "*"
jsonschema = "*"

[dev-packages]

[requires]
python_version = "3.8"
